<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28726358350-3pgh2glchnacik8utr1tipkg47kmhhq7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28726358350-3pgh2glchnacik8utr1tipkg47kmhhq7</string>
	<key>API_KEY</key>
	<string>AIzaSyAL1iGpp3ge8CQP1aP2zAxl-lIMi9M6M64</string>
	<key>GCM_SENDER_ID</key>
	<string>28726358350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beepo.app</string>
	<key>PROJECT_ID</key>
	<string>beepo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>beepo-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28726358350:ios:973fbe33d4fa1934a42e1f</string>
</dict>
</plist>